body {
    background: #474d57;
    font-family: Roboto, Verdana sans-serif;
    font-size: 20px;
    color: white;
    width: 100%;
}


.noBullets {
    height: fit-content;
    width: 100%;
    list-style-type: none;
    text-underline-style: none;
    text-underline: none;
    text-decoration: none;



}
.noBullets li {
    border: 1px solid #ffffff;
    border-radius: 15px;
    display: inline-block;
    padding: 5px;
    text-align: left;
    text-underline-style: none;
    text-underline: none;
    text-decoration: none;

}

.blauw {
    background-color: #add8e6;
    border: #ff8c00;
    width: available;
}

.beige-rose {
    background: #ffcc81;
    border: #ff8c00;
}

.rose {
    background: #ffb6c1;
    border: #ff8c00;
}

.groen {
    background: #90ee90;
    border: #ff8c00;
}

.lichtgeel {
    background: #ffffe0;
    border: #ff8c00;
}


/*opmaak van links*/

a:hover {
    font-size: 30px;
    text-underline-style: none;
}
a:any-link, a:visited {
    color: #ffc0cb;
    text-underline: none;
    text-decoration: none;
}